@/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/
@charset 'utf-8';
html{
   background-color: rgb(255, 238, 145)
}
body{
   background-color: 
}